<nav
  class="navbar navbar-default navbar-fixed-top nav"
  id="navbar"
  role="navigation"
  class="navbar-custom"
>
  <button onclick="window.location.href='/'">Home</button>
  <button onclick="window.location.href='/contact'">Contact Us</button>
  <button onclick="window.location.href='/login'">Log in</button>
</nav>
